<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>Calorie Counter</h2>
</nav>

<div class="dashboard">

    <h1>BMI Calculator</h1>

    <form method="POST">

        <input type="number"
               name="weight"
               placeholder="Weight (kg)"
               required>

        <br><br>

        <input type="number"
               name="height"
               placeholder="Height (cm)"
               required>

        <br><br>

        <button type="submit">
            Calculate BMI
        </button>

    </form>

    {% if result %}

    <div class="card">

        <h2>Your BMI</h2>

        <h1>{{ result.bmi }}</h1>

        <h3>{{ result.status }}</h3>

    </div>

    {% endif %}

</div>

</body>
</html>