<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>Calorie Counter</h2>
</nav>

<div class="dashboard">

    <h1>Calories Calculator</h1>

    <form method="POST">

        <select name="food">

            <option>Rice</option>
            <option>Egg</option>
            <option>Banana</option>
            <option>Apple</option>
            <option>Chicken</option>

        </select>

        <br><br>

        <input type="number"
               name="quantity"
               placeholder="Quantity"
               required>

        <br><br>

        <button type="submit">
            Calculate
        </button>

    </form>

    {% if calories %}

    <div class="card">

       <h2>Calculation Result</h2>

<p><strong>Food:</strong> {{ selected_food }}</p>

<p><strong>Quantity:</strong> {{ quantity }}</p>

<h1>{{ calories }} kcal</h1>

    </div>

    {% endif %}
    <h2>Today's Food History</h2>
    <table border="1" cellpadding="10" style="margin:auto;">
        <tr>
            <th>FOOD</th>

            <th>OUANTITY</th>

            <th>CALORIES</th>

        </tr>
        {%for item in history%}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>